.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 434px;
  height: 175px;
  flex-direction: column;
  align-items: flex-start;
}
._2297D6F572754CEB9357D52DFC94FD {
  position: absolute;
  left: 0;
  right: 76.0369%;
  top: 0;
  bottom: 0;
  border-radius: 9px;
  background-color: #0000;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.bFC6A77AC42F4C07A26DE5583E7DD7 {
  position: absolute;
  left: 0;
  right: 76.0369%;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('assets/bFC6A77AC42F4C07A26DE5583E7DD7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/placeholder_02.svg');
  mask-image:/* webpackIgnore: true */ url('assets/placeholder_02.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-size: 104px 175px;
  mask-size: 104px 175px;
}
.group1497 {
  position: absolute;
  left: 37px;
  top: 73px;
  width: 29px;
  height: 29px;
  overflow: visible;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/placeholder_02.svg');
  mask-image:/* webpackIgnore: true */ url('assets/placeholder_02.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -37px -73px;
  mask-position: -37px -73px;
  -webkit-mask-size: 104px 175px;
  mask-size: 104px 175px;
}
.icon {
  width: 100%;
  height: 100%;
}
._50124DB543D94D9A952FBC3A3375C7 {
  position: absolute;
  left: 25.3456%;
  right: 50.6912%;
  top: 0;
  bottom: 0;
  border-radius: 9px;
  background-color: #0000;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
.E33D0844DAB44EFA053B38892EE591 {
  position: absolute;
  left: 25.3456%;
  right: 50.6912%;
  top: -15.7275%;
  bottom: -15.7275%;
  background-image:/* webpackIgnore: true */ url('assets/E33D0844DAB44EFA053B38892EE591.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/maskGroup173.svg');
  mask-image:/* webpackIgnore: true */ url('assets/maskGroup173.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 27.523040771484375px;
  mask-position: 0px 27.523040771484375px;
  -webkit-mask-size: 104px 175px;
  mask-size: 104px 175px;
}
.group14972 {
  position: absolute;
  left: 147px;
  top: 73px;
  width: 29px;
  height: 29px;
  overflow: visible;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/maskGroup173.svg');
  mask-image:/* webpackIgnore: true */ url('assets/maskGroup173.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -37px -73px;
  mask-position: -37px -73px;
  -webkit-mask-size: 104px 175px;
  mask-size: 104px 175px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.group14973 {
  position: absolute;
  left: 37px;
  top: 73px;
  width: 29px;
  height: 29px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
._916F2B095F604C4C9F865005B027A0 {
  position: absolute;
  left: 50.6912%;
  right: 25.3456%;
  top: 0;
  bottom: 0;
  border-radius: 9px;
  background-color: #0000;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
._9BF6ACCF20464A0490CDF239CBF7AA {
  position: absolute;
  left: 50.6912%;
  right: 25.3456%;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('assets/_9BF6ACCF20464A0490CDF239CBF7AA.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/placeholder_022.svg');
  mask-image:/* webpackIgnore: true */ url('assets/placeholder_022.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-size: 104px 175px;
  mask-size: 104px 175px;
}
.group14974 {
  position: absolute;
  left: 257px;
  top: 73px;
  width: 29px;
  height: 29px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.b6288300D457487486FB1963B03748 {
  position: absolute;
  left: 76.0369%;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 9px;
  background-color: #0000;
  box-shadow: 0px 5px 10px 0px #0000001a;
}
._14D5128D5FFF4CD98A8113E840D05E {
  position: absolute;
  left: 76.0369%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('assets/_14D5128D5FFF4CD98A8113E840D05E.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px 0px #0000001a;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/placeholder_023.svg');
  mask-image:/* webpackIgnore: true */ url('assets/placeholder_023.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-size: 104px 175px;
  mask-size: 104px 175px;
}
.group14975 {
  position: absolute;
  left: 367px;
  top: 73px;
  width: 29px;
  height: 29px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.baige {
  position: absolute;
  left: 3px;
  top: calc(50% - 73.5px);
  width: 41px;
  height: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 7px;
  overflow: hidden;
  transform: translateY(-50%);
}
.rectangle474 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #08c514;
  filter: blur(0px);
}
.title {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.14px;
  position: absolute;
  left: 19.5122%;
  right: 19.5122%;
  top: calc(50% - 1px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
