.root {
  position: absolute;
  left: 0;
  right: 91.404%;
  top: 0;
  bottom: 57.1429%;
  flex-direction: column;
  align-items: flex-start;
}
.ellipse149 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.iconMaterialEdit {
  position: absolute;
  left: 8.7px;
  top: 8px;
  width: 13.5016px;
  height: 13.5016px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
