.root {
  position: absolute;
  left: 0;
  right: 91.3793%;
  top: 0;
  bottom: 58.3333%;
  flex-direction: column;
  align-items: flex-start;
}
.ellipse149 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.arrow {
  position: absolute;
  left: calc(50% - -0.3174px);
  top: calc(50% - 0.0113px);
  width: 14.4568px;
  height: 11.3873px;
  overflow: visible;
  transform: translate(-50%, -50%);
}
.icon2 {
  width: 100%;
  height: 100%;
}
